<div class="row bootstrap snippets">
        <div class="col-md-6 col-md-offset-2 col-sm-12">
            <div class="comment-wrapper">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        Comment panel
                    </div>
                    <div class="panel-body">
                        <form method='POST' class='create-post-form' action="{{url_for('create_comment', id=post.id)}}">
                        <textarea name="body" class="form-control" placeholder="write a comment..." rows="3"></textarea>
                        <br>
                        <button type="submit" class="btn btn-info pull-right">Post</button>
                        </form>
                        <div class="clearfix"></div>
                        <hr>
                        <ul class="media-list">
                            {% for comment in comments %}
                            <li class="media">
                                <a href="#" class="pull-left">
                                    <img src="https://bootdey.com/img/Content/user_1.jpg" alt="" class="img-circle">
                                </a>
                                <div class="media-body">
                                    <span class="text-muted pull-right"></span>
                                        <small class="text-muted">{{comment.created_at}}</small>
                                    </span>
                                    <strong class="text-success">{{comment.user_name}}</strong>
                                    <p>{{comment.body}}</p>
                                    <a href="{{url_for('edit_comment', id= comment.post_id, comment_id = comment.id)}}">Edit</a>
                                    <form method="POST" action="{{url_for('edit_comment', id= comment.post_id, comment_id = comment.id, action='delete')}}">
                                        <button type="submit">Delete</button>
                                    </form>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>