.create-post-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.create-post-input {
  background-color: #f5f7f7;
  width: 800px;
}


.btn-post {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}